{{define "content"}}
<form class="form" id="login-form">
    <h2 class="formTitle">Login form</h2>
    <label for="username">Username</label>
    <input
        type="text"
        class="form-control"
        placeholder="username"
        name="username"
    />
    <label for="login">Password</label>
    <input
        type="password"
        class="form-control"
        placeholder="password"
        name="password"
    />
    <button type="submit" class="btn button-blue submit-button">Submit</button>
</form>
<script>
    $("#login-form").submit(function(event) {
        event.preventDefault();

        const formData = $(this).serialize();

        const onSuccess = function(json) {
            put(json.result);
            location.href = "/";
        };

        const onError = function(resp) {
            const json = resp.responseJSON;
            tError(json.error);
        };

        $.ajax({
            type: "POST",
            url: "/api/login/",
            data: formData,
            success: onSuccess,
            error: onError
        });
    });
</script>
{{ end }}
